rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    // Allow read/write access to authenticated users for their own data
    match /users/{userId}/financialData/{document} {
      allow read, write: if request.auth != null && request.auth.uid == userId;
    }
  }
}
